@model WebApplication1.Models.PowerUnit

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css" />
    <title>RsvpForm</title>
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>RSVP</h4></div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                <div class="form-group">
                    <label>전투원 이름을 입력하세요!</label>
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                </div>
                @*<div class="form-group">
                    <label>Your Email</label>
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Will u attend?</label>
                    @Html.DropDownListFor(x => x.WillAttend, new[]
                    {
                        new SelectListItem() { Text = "yes", Value =  bool.TrueString},
                        new SelectListItem(){Text = "no", Value = bool.FalseString}
                    },
                        "옵션 선택")
                </div>*@
                
                <div class="text-center">
                    <input class="btn btn-success" type="submit" value="Submit RSVP" />
                </div>
            }
        </div>
    </div>

</body>
</html>
